#
# The App ID, Keys, or Secrets in this file are placeholders.
# You would need to register with API providers that tour application needs and use your own keys.
# You can override the values using environment variables if you wish. Some developers prefer that
# to avoid accidental check-in of credentials to code repos.
# (i.e. enter the following in console: "export SENDGRID_PASSWORD=blah_blah_blah" )
# Most hosting providers provide means to set environment variables as well.
#
PROTOCOL=https://          # 'http://' for production (if using nginx proxy server), or 'https://' for development or live without a proxy server
HOST=wevotedeveloper.com   # Don't add 'http...' here.  Live server: 'WeVote.US', Quality: 'quality.WeVote.US', developers: 'localhost:4000' or wevotedeveloper.com
PORT=4500
BASE_URL=${PROTOCOL}${HOST}:${PORT}

# To create the correct 'DATABASE_URL' variable, enter the username and password you created when you setup postgres
DEVELOPER_NAME=developername
DEVELOPER_PWD=devpg
DATABASE_NAME=WeConnectDB
DATABASE_HOST=localhost
DATABASE_PORT=5432
DATABASE_URL=postgresql://${DEVELOPER_NAME}:${DEVELOPER_PWD}@${DATABASE_HOST}:${DATABASE_PORT}/${DATABASE_NAME}?schema=public

HTTPS_SSL_CERT=./cert/wevotedeveloper.com.crt
HTTPS_SSL_KEY=./cert/wevotedeveloper.com_key.txt

SESSION_EXPIRATION_DAYS=14
SESSION_SECRET=mysecret

SITE_CONTACT_EMAIL=info@wevote.us

PATH_FOR_TEMP_FILES=/tmp

# API Connection Tokens

GOOGLE_CLOUD_APP=WeConnectServerApp
GOOGLE_SUPER_ADMIN_EMAIL=api.superadminuser@wevoteeducation.org
GOOGLE_DRIVE_ID=0B...

SENDGRID_API_KEY=SG...

SLACK_BOT_BEARER_TOKEN=xoxb-2...

=========== Older, unused config for passport and scaffolding ===================================================

TRANSACTION_EMAIL=youremail-OR-noreply@yourdomain.com

MAILGUN_USER=postmaster@sandbox697fcddc09814c6b83718b9fd5d4e5dc.mailgun.org
MAILGUN_PASSWORD=

NYT_KEY=

LASTFM_KEY=
LASTFM_SECRET=

SNAPCHAT_ID=181f414f-9581-4498-be9a-a223d024cf10
SNAPCHAT_SECRET=

FACEBOOK_ID=754220301289665
FACEBOOK_SECRET=

GITHUB_ID=cb448b1d4f0c743a1e36
GITHUB_SECRET=

TWITTER_KEY=6NNBDyJ2TavL407A3lWxPFKBI
TWITTER_SECRET=

# Dale Note: 2025-04-09 Server crashes without these values, required by passport.js,
# which came from the original scafolding project, but are not used by our app yet (or ever)
GOOGLE_ID=828110519058.apps.googleusercontent.com
GOOGLE_SECRET=

LINKEDIN_ID=77chexmowru601
LINKEDIN_SECRET=

STEAM_KEY=

TWILIO_SID=
TWILIO_TOKEN=

STRIPE_SKEY=
STRIPE_PKEY=pk_test_6pRNASCoBOKtIshFeQd4XMUh

TUMBLR_KEY=FaXbGf5gkhswzDqSMYI42QCPYoHsu5MIDciAhTyYjehotQpJvM
TUMBLR_SECRET=

FOURSQUARE_ID=2STROLSFBMZLAHG3IBA141EM2HGRF0IRIBB4KXMOGA2EH3JG
FOURSQUARE_SECRET=

PAYPAL_ID=AdGE8hDyixVoHmbhASqAThfbBcrbcgiJPBwlAM7u7Kfq3YU-iPGc6BXaTppt
PAYPAL_SECRET=

RECAPTCHA_SITE_KEY=JKHGxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxJG
RECAPTCHA_SECRET_KEY=

LOB_KEY=

PINTEREST_ID=4819282851912494691
PINTEREST_SECRET=

GOOGLE_MAP_API_KEY=

HERE_APP_ID=aHxxxxxxxxxxxxxxlIgc
HERE_APP_CODE=

ALPHA_VANTAGE_KEY=api-key

QUICKBOOKS_CLIENT_ID=ABQSXxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxnIxiz
QUICKBOOKS_CLIENT_SECRET=

TWITCH_CLIENT_ID=khdxxxxxxxxxxxxxxxxxxxxxxxxvqd
TWITCH_CLIENT_SECRET=
