#
# The App ID, Keys, or Secrets in this file are placeholders.
# You would need to register with API providers that tour application needs and use your own keys.
# You can override the values using environment variables if you wish. Some developers prefer that
# to avoid accidental check-in of credentials to code repos.
# (i.e. enter the following in console: "export SENDGRID_PASSWORD=blah_blah_blah" )
# Most hosting providers provide means to set environment variables as well.
#
PROTOCOL=https://          # 'http://' for production (if using nginx proxy server), or 'https://' for development or live without a proxy server
HOST=wevotedeveloper.com   # Don't add 'http...' here.  Live server: 'WeVote.US', Quality: 'quality.WeVote.US', developers: 'localhost:4000' or wevotedeveloper.com
PORT=4500
BASE_URL=${PROTOCOL}${HOST}:${PORT}
SERVER_IS_SOURCE_OF_TRUTH=false,

# To create the correct 'DATABASE_URL' variable, enter the username and password you created when you setup postgres
DEVELOPER_NAME=developername
DEVELOPER_PWD=devpg
DATABASE_NAME=WeConnectDB
DATABASE_HOST=localhost
DATABASE_PORT=5432
DATABASE_URL=postgresql://${DEVELOPER_NAME}:${DEVELOPER_PWD}@${DATABASE_HOST}:${DATABASE_PORT}/${DATABASE_NAME}?schema=public

HTTPS_SSL_CERT=./cert/wevotedeveloper.com.crt
HTTPS_SSL_KEY=./cert/wevotedeveloper.com_key.txt

SESSION_EXPIRATION_DAYS=14
SESSION_SECRET=mysecret

SITE_CONTACT_EMAIL=info@wevote.us

PATH_FOR_TEMP_FILES=/tmp

# API Connection Tokens

GOOGLE_CLOUD_APP=WeConnectServerApp
GOOGLE_SUPER_ADMIN_EMAIL=api.superadminuser@wevoteeducation.org
GOOGLE_DRIVE_ID=0B...
GOOGLEAPIS_JSON_WEB_TOKEN={   "type": "service_account",   "project_id": "weconnectserverapp",   "private_key_id": "xxx..",   "private_key": "",   "client_email": "",   "client_id": "",   "auth_uri": "https://accounts.google.com/o/oauth2/auth",   "token_uri": "https://oauth2.googleapis.com/token",   "auth_provider_x509_cert_url": "https://www.googleapis.com/oauth2/v1/certs",   "client_x509_cert_url": "",   "universe_domain": "googleapis.com" }

# =========== Current non-Google API Keys ===========

JAZZ_HR_API_KEY=EY0...

SENDGRID_API_KEY=SG...

SLACK_BOT_BEARER_TOKEN=xoxb-2...
SLACK_USER_BEARER_TOKEN=xoxp-25...

# =========== Older, unused config for passport and scaffolding ===================================================
# If still used locally, these old API keys go below here
