lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz
*.swp
.env

pids
logs
results
tmp

# SSL Certificates
wevotedeveloper.com.crt
wevotedeveloper.com_key.txt

# Optional npm cache directory
.npm

#Build
public/css/main.css
.nyc_output/*

# Ignore all files in prisma/migrations except migration_lock.toml
prisma/migrations/*
!prisma/migrations/migration_lock.toml
!prisma/migrations/*_production2025/
!prisma/migrations/*_production2025/**

# API keys and secrets
.env
.env.config

# Dependency directory
node_modules
bower_components

# Editors
.idea
.vscode
*.iml
modules.xml
*.ipr

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# OS metadata
.DS_Store
Thumbs.db
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent
